body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: block;
}

@font-face {
  font-family: 'Tungsten-Bold';
  src: url('/fonts/Tungsten-Bold.woff2') format('woff2'),
       url('/fonts/Tungsten-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1, h2, h3, .title, .subtitle, .section-title {
  font-family: 'Tungsten-Bold', "Riot Sans", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.nav-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-menu a:hover {
  color: red;
}

.play-now-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.play-now-btn:hover {
  background-color: darkred;
}

.hero {
  background: url('/valobg2.png') no-repeat center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero2 {
  background: url('/valobg1.png') no-repeat center center;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  padding: 30px;
  padding-bottom: 20px;
}

.hero-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.hero-content2 h1 {
  padding: 15px;
  font-size: 100px;
}

.hero-content2 p {
  padding: 15px;
  font-size: 30px;
}

.hero-youragents {
  background: url('/agents.png') no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff4655;
  color: white;
  padding: 50px 70px;
  height: 55vh;
  
}

.hero-youragents .hero-image img {
  width: 100%;
  max-width: 400px;
}

.hero-youragents .hero-content {
  max-width: 50%;
}

.view-agents-btn {
  background-color: black;
  color: white;
  padding: 12px 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.hero-wearevalorant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf6ec;
  padding: 50px 50px;
  color: rgb(19, 18, 18);
  height: 55vh;
}

.hero-wearevalorant .hero-content {
  max-width: 50%;
}

.hero-wearevalorant .hero-image img {
  width: 100%;
  max-width: 800px;
}

.map-details {
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
}

.map-details h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.map-details h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.map-details p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.view-maps-button {
  background-color: #ff4655;
  color: white;
  padding: 12px 24px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-maps-button:hover {
  background-color: #e63a4d;
}

.map-image-container {
  flex: 1;
  max-width: 50%;
}

.map-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.riot-logo {
  height: 30px;
}

.valo-logo {
  height: 30px;
}

.play-for-free-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.latest-section {
  padding: 50px 70px;
  background-color: #fdf6ec;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news-grid {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  background: #fdf6ec;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  max-width: 33%;
  color: #222;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.news-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.news-date {
  font-size: 14px;
  color: #363535;
  margin-top: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.news-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.news-card p {
  color: #202020;
  font-size: 14px;
  margin-top: 5px;
  padding: 0;
}

.news-category {
  color: red;
  font-weight: bold;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.news-link {
  text-decoration: none;
  color: #272829;
  font-size: 30px;
}

.news-link:hover {
  color: #007bff;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  background: url('/valobg4.png') no-repeat center center;
  background-size: cover;
  height: 80vh;
}

.content {
  max-width: 50%;
}

.title {
  font-size: 78px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 10px;
  font-family: Tungsten-Bold, "Riot Sans", sans-serif;
}

.subtitle {
  font-size: 44px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  font-family: Tungsten-Bold, "Riot Sans", sans-serif;
}

.description {
  font-size: 24px;
  line-height: 1.6;
  color: #444040;
  margin-bottom: 20px;
}

.button {
  padding: 12px 24px;
  background-color: #ff4655;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e03b4b;
}

.imageContainer {
  position: relative;
  max-width: 50%;
}

.image {
  width: 100%;
  border-radius: 8px;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  background-color: #ff4655;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: #e03b4b;
}


.next-button {
  padding: 12px 24px;
  background-color: #ff4655;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.previous, .next {
  font-size: 16px;
  font-weight: bold;
  color: #ff4655;
  padding: 10px 20px;
  border: 2px solid #ff4655;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.previous:hover, .next:hover {
  background-color: #ff4655;
  color: white;
}

.previous:disabled, .next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}