@font-face {
  font-family: "Tungsten";
  src: url("/fonts/Tungsten.ttf") format("truetype");
}

@font-face {
  font-family: "DIN Next W1G";
  src: url("/fonts/DINNextW1G.ttf") format("truetype");
}

.map-section {
  background: url("/valobg3.png") no-repeat center center;
  background-size: cover;
  height: 800px;
  width: 100wv;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding: 0 10%;
}

.map-content {
  max-width: 500px;
  text-align: left;
}

.map-title {
  font-family: "Tungsten", sans-serif;
  font-size: 110px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0px;
}

.map-subtitle {
  font-family: "DIN Next W1G", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
}

.map-description {
  font-family: "DIN Next W1G", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 0px;
}

.map-btn {
  font-family: "DIN Next W1G", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ff4655;
  color: white;
  padding: 24px 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0px;
}

.map-btn:hover {
  background-color: #0f1923;
}
